.root{
    -fx-background-color: #383838;
    -fx-font-size: 12;
}
.label{
    -fx-text-fill: red;
}
.button{
    -fx-background-color: linear-gradient(#dc9656, #ab4642);
    -fx-text-fill: #ffffff;
    -fx-background-radius: 4;
}
.button-blue{
    -fx-background-color: #7cafc2;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 4;
}
#bold-label{
    -fx-font-weight: bold;
}